/* Events.module.css */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .container {
    max-width: 800px;
    width: 100%;
  }
  
  .eventLink {
    text-decoration: none;
    color: inherit;
  }
  
  .event {
    background-color: #f9f9f9;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }
  
  .event:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .eventTitle {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .eventDescription {
    margin-bottom: 0.5rem;
  }
  
  .eventPrice,
  .eventDate {
    color: #555;
  }
  
  .eventDate {
    font-style: italic;
  }
  